html{background-image:url('https://eyeburn101.github.io/AeAlpha/background_normal.jpg');background-color:#010012;
background-attachment:fixed;background-position:center;background-repeat:no-repeat;color:deepskyblue;margin-left:30px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;} 
a{color:#FFD700;text-decoration: none}
a:hover{text-decoration: underline}
